:root {
    --color-bg-primary: #0b132b;
    --color-bg-secondary: #1c2541;
    --color-border: #3a506b;
    --color-text-light: #ffffff;
    --color-text-dark: #5bc0be;
    --color-button-bg: #3a506b;
    --color-button-bg-hover: #516e92;
}



.wrapper {
  display: grid;
  grid-template-columns: 1fr calc(100% - 32px) 1fr;

  @media (width >= calc(700 / 16 * 1rem)) {
    grid-template-columns: 1fr min(calc(100% - 48px), calc(1216 / 16 * 1rem)) 1fr;
  }

  > * {
    grid-column: 2;
  }
}
header {
  background-color: var(--color-bg-secondary);
  color: var(--color-text-dark);
}
body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-light);
}

#taskForm {
  background-color: var(--color-bg-secondary);
  border: 4px solid var(--color-border);
  color: var(--color-text-dark);
}

.formBtn {
  background-color: var(--color-button-bg);
  color: var(--color-text-light);
  padding: 8px;
  border-radius: 10px;
  border: none;
  transition: all 0.3s ease;
}

.formBtn:hover {
  background-color: var(--color-button-bg-hover);
  transform: translateY(-2px);
}

.taskContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.completeBtn,
.deleteBtn {
  transition: all 0.4s ease;
  width: 24px;
  height: 24px;
}
.completeBtn:hover,
.deleteBtn:hover {
  transform: translateY(-4px);
}
.complete {
    text-decoration: none;
    
}
.completedTask {
  text-decoration: line-through;
  color: gray;
}

footer {
  position: static;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--color-bg-secondary);
  color: var(--color-text-dark);
  padding: 8px;
}
